################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.suo
/.vs
/clientePrueba.js
/package-lock.json
/cliente.rar
/package-lock.json.3651913516
/node_modules
/package-lock.json~RFff38931.TMP
/package-lock.json~RFff30c6f.TMP
