################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.suo
/.vs
/clientePrueba.js
/package-lock.json
/cliente.rar
/package-lock.json.3651913516
