<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.png">
	<link rel="stylesheet" href="images/Azulmedia.css" type="text/css" />
	<script type="text/javascript" src="script/clienteWeb.js"></script>
	<title>Administrador</title>
</head>
<body>

	<div id="wrap">
		<div id="header">
			<h1 id="logo">Administrador web</h1>
			<div id="menu">
				<ul>
					<li id="current"><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
		<div id="content-wrap">
			<div id="sidebar">

				<%- include('../partials/listaBrokers', {variant:'brokers'}); %>
			</div>
			<div id="main">
				<a name="TemplateInfo"></a>
				<div id="boxTopicos" class="box" style="float:left;">
					<h1 id="CartelSeleccioneB">Seleccione un broker para continuar... </h1>
					<div id="divBrokerSelected">
						<div>
							<h2 id="nombreBroker"></h2>
							<ul id="listaTopicos">
							</ul>
						</div>

					</div>
				</div>

				<div id="boxMensajes" class="box" style="float:left;">
					<div id="divBrokerSelected">
						<div>
							<h2 id="nombreTopico"></h2>
							<div id="contenedorBoton"></div>
							<ul id="listaMensajes">
							</ul>
						</div>

					</div>
				</div>

				<div style="clear:both;">
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p class="text-center text-muted">© Copyright 2020 Porzio Casas Gross Aprea</p>
	</footer>
</body>
</html>